.price {
    padding-top: 66px;
    &__block {
        display: grid;
        grid-template: repeat(3, minmax(45px, auto)) / repeat(2, 365px);
        grid-auto-rows: minmax(45px, auto);
        margin-top: 60px;
        justify-content: space-between;
        &-item {
            position: relative;
            display: grid;
            grid-template: repeat(2, minmax(22px, auto)) / repeat(2, auto);
            row-gap: 5px;
            margin-bottom: 15px;
            height: 44px;
            width: 370px;
        }
        &__title {
            padding-left: 15px;
            position: relative;
            @include before_resume;
        }
        &__money {
            justify-self: end;
        }
        &__descr {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            grid-column: 1 / 3;
        }
    }
}