@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.devider {
    border:none;
    width: 60px;
    height: 3px;
    background-color: $main_color;
    margin: 25px auto 0 auto;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/menu/menu';
@import 'blocks/promo/promo';
@import 'blocks/title/title';
@import 'blocks/button/button';
@import 'blocks/sidepanel/sidepanel';
@import 'blocks/about/about';
@import 'blocks/resume/resume';
@import 'blocks/tecnology/tecnology';
@import 'blocks/portfolio/portfolio';
@import 'blocks/price/price';
@import 'blocks/contacts/contacts';
@import 'blocks/media';