.promo {
    height: 100vh;;
    position: relative;
    background: url('../img/main_bg.png') no-repeat 50%/cover;
    padding-top: 205px;
    text-align-last: left;
    z-index: 2;
    &__title {
        width: 535px;
        margin-top: 10px;
        color: white;
    }
    &__subtitle {
        color: $white;
        padding-left: 10px;
        z-index: 2;
        position: relative;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        width: 300px;
    }
}